*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  overflow-x:hidden;
  background:#08AEE3;
}


.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: scroll;
  /* background-color: yellow; */
}

.announcementbar{
  width: 100%;
  height: 4%;
  background-color: rgb(42,40,87);
  color: white;
  text-align: center;
  padding-top: 5px;
}

.navbar {
  width: 95%;
  height: 10%;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;

  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: auto;
  margin-top: 10px;

  border-radius: 10px;

  /* optional smooth effect */
  transition: all 0.3s ease;

  /* optional shadow when sticky */
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.navbar a {
  text-decoration: none;
}

.navbar .p1{
  width: 20%;
  height: 100%;
  /* background-color: red; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .p1 a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: black;
}

.navbar .p1 a img {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.navbar .p1 a .down {
  rotate: 90deg;
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px 4px;
}


.navbar .logo{
  width: 20%;
  height: 80%;
  margin-left: 80px;
}

.navbar .logo img{
  width: 100%;
  height: 100%;

}


.navbar .p2{
  width: 30%;
  height: 100%;
  /* background-color: red; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .p2 a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: black;
  font-size: .9rem;
}

.navbar .p1 a img {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.section1{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('/images/imgi_64_AlpineBerry.webp');
  background-size: cover;
  background-position: center;
}

.section1 .textalign{
  width: 40%;
  height: 40%;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.textalign h3{
  color: white;
  font-size: 3.6rem;
  font-weight: 100;
  margin-left: 10%;
}

.textalign p{
  color: white;
  font-size: 1.15rem;
  font-weight: 300;
  margin-left: 10%;
}

.textalign button{
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 10%;
  border-radius: 20px;
  width: 50%;
  height: 25%;
  background-color: rgb(2, 2, 103);
  color: white;
  border: none; 
}


.bestseller-section{
    width: 100%;
    min-height: 100vh;
    background: #efede1;
    padding: 80px 0;
    overflow: hidden;
    position: relative;
}

/* TOP TEXT */

.heading-area{
    width: 100%;
    text-align: center;
}

.heading-area h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.1;
    color: #1b1b1b;
    font-family: Georgia, serif;
    margin: 100px;
}

.heading-area h1 span{
    font-style: italic;
}

.heading-area button{
    margin-top: 80px;
    padding: 12px 35px;
    font-size: 2rem;
    font-weight: 900;
    border: 2px solid #333;
    border-radius: 10px;
    background: #d5b2e5;
    rotate: -2deg;
    cursor: pointer;
}

/* PRODUCT AREA */

.product-scroll{
    width: 100%;
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding: 100px 50px 20px 50px;
    scrollbar-width: none;
}

.product-scroll::-webkit-scrollbar{
    display: none;
}

/* CARD */

.product-card{
    min-width: 360px;
    position: relative;
}

/* BOX */

.product-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    border-radius: 15px;
    border: 1px solid #333;
    z-index: 0;
}

.green::before{
    background: #bfe28f;
}

.yellow::before{
    background: #efcf7b;
}

.mint::before{
    background: #a8dcbc;
}

.blue::before{
    background: #b5d0e3;
}

/* TOP */

.top{
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.tag{
    background: white;
    border: 1px solid #333;
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: 900;
    font-size: .9rem;
    min-width: 20%;
}

.rating{
    font-size: 1.1rem;
}

/* IMAGE */

.product-card img{
    width: 70%;
    height: 250px;
    object-fit: contain;
    position: relative;
    z-index: 2;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* ADD BUTTON */

.add-btn{
    width: 65px;
    height: 65px;
    border-radius: 15px;
    border: 1px solid #333;
    background: white;
    font-size: 1rem;
    position: absolute;
    right: 20px;
    top: 300px;
    z-index: 5;
    cursor: pointer;
}

/* CONTENT */

.content{
    margin-top: 70px;
}

.content h2{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.1;
    color: #1b1b1b;
    font-family: Georgia, serif;
}

.content h4{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.content p{
    margin-top: 5px;
    font-size: .9rem;
    line-height: 1.5;
    color: #555;
}

.button button{
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 43%;
  margin-top: 10%;
  border-radius: 20px;
  width: 15%;
  height: 50px;
  background-color: rgb(2, 2, 103);
  color: white;
  border: none; 
}

.button button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
}


.discover-section{
    width:100%;
    min-height:100vh;
    background:#f3f0e6;
    border-top:1px solid #222;

    display:flex;
    justify-content:center;

    padding:100px 0;
}

.discover-container{
    width:67%;
}

/* DISCOVER TAG */

.discover-tag{
    padding:3px;
    border-radius:10px;
    border:2px solid #222;

    background:#ff7d2c;

    font-size:2rem;
    font-weight:700;

    rotate:-2deg;

    margin-bottom:50px;

    cursor:pointer;
}

/* HEADING */

.discover-container h1{
    font-size:3rem;
    line-height:1.1;
    font-weight:300;
    color:#1f1b18;

    font-family:Georgia, serif;
}

.discover-container h1 span{
    font-style:italic;
}

/* SEARCH */

.search-box{
    width:100%;
    margin-top:70px;
}

.search-box input{
    width:400px;
    height:80px;

    border:1px solid #333;
    border-radius:20px;

    background:transparent;

    padding:0 50px;

    font-size:1.8rem;
    font-family:Georgia, serif;

    outline:none;
}

.search-box input::placeholder{
    color:#9f9b92;
}

/* EXPLORE */

.explore-text{
    margin-top:120px;
    margin-bottom:40px;

    font-size:1rem;
    color:#222;
}

/* VIBES */

.vibes{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.vibes button{
    padding:8px 12px;

    border-radius:14px;
    border:1px solid #333;

    background:#cfe0ff;

    font-size:1.6rem;
    font-family:Georgia, serif;

    color:#1b1b1b;

    cursor:pointer;

    transition:.3s;
}

.vibes button:hover{
    transform:translateY(-2px);
}

.vibes .active{
    background:#9fc0ff;
}



.origins-section{
    width:100%;
    min-height:230vh;

    background-image:url('./images/treebg.webp');
    background-size:cover;
    background-position:center;

    position:relative;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:180px;

    overflow:hidden;
}

/* DARK OVERLAY */

.origins-section::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.15);
    z-index:0;
}

.origins-section > *{
    position:relative;
    z-index:2;
}

/* TOP TAG */

.origin-tag{
    padding:2px 3px;

    background:#9ebcff;

    border:2px solid #222;
    border-radius:12px;

    font-size:2.2rem;
    font-weight:900;

    rotate:-2deg;

    margin-bottom:100px;
}

/* BIG TITLE */

.origin-title{
    font-size:6.6rem;
    line-height:.9;
    text-align:center;

    color:white;

    font-weight:900;
    word-spacing: 2px;

    font-family:Arial, Helvetica, sans-serif;

    letter-spacing:5px;
}

/* TEXT */

.origin-text{
    width:90%;

    margin-top:260px;

    text-align:center;

    color:white;

    font-size:3rem;
    line-height:1.4;

    font-family:Georgia, serif;
    font-weight:300;
}

/* ICONS */

.origin-icons{
    margin-top:220px;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:100px;
}

.icon-box{
    text-align:center;
}

.icon-box img{
    width:140px;
    height:140px;
    object-fit:contain;
}

.icon-box h4{
    margin-top:20px;

    color:white;

    font-size:.6rem;
    line-height:1.4;

    font-weight:800;

    font-family:Arial, Helvetica, sans-serif;
}

/* BUTTON */

.story-btn{
    margin-top:160px;
    margin-bottom: 60px;

    width:220px;
    height:60px;

    border-radius:60px;
    border:none;

    background:white;

    font-size:1.5rem;

    cursor:pointer;

    transition:.3s;
}

.story-btn:hover{
    transform:scale(1.05);
}

/* RESPONSIVE */

@media(max-width:768px){

    .origins-section{
        min-height:auto;
        padding:120px 20px;
    }

    .origin-tag{
        font-size:1.8rem;
    }

    .origin-title{
        font-size:4.5rem;
    }

    .origin-text{
        width:95%;
        font-size:2rem;
        margin-top:100px;
    }

    .origin-icons{
        flex-direction:column;
        gap:60px;
        margin-top:120px;
    }

    .icon-box img{
        width:90px;
        height:90px;
    }

    .icon-box h4{
        font-size:1.2rem;
    }

    .story-btn{
        width:200px;
        height:65px;
        font-size:1.4rem;
        margin-top:100px;
    }

}

/* RESPONSIVE */

@media(max-width:768px){

    .discover-container{
        width:90%;
    }

    .discover-tag{
        font-size:2rem;
    }

    .discover-container h1{
        font-size:3rem;
    }

    .search-box input{
        width:100%;
        height:80px;
        font-size:2rem;
    }

    .vibes button{
        font-size:1.4rem;
        padding:12px 18px;
    }

}


/* RESPONSIVE */

@media(max-width:768px){

    .heading-area h1{
        font-size: 2.7rem;
        padding: 0 20px;
    }

    .heading-area button{
        font-size: 1.5rem;
    }

    .product-card{
        min-width: 320px;
    }

    .product-card::before{
        height: 430px;
    }

    .product-card img{
        height: 240px;
    }

    .add-btn{
        top: 320px;
    }

    .content h2{
        font-size: 2rem;
    }

}